<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-circle subtle">{{producto.id}}</span>
            <div  class="card-title">{{ producto.name_products}}</div >
            
            <span class="card-author subtle">{{ producto.description_products}}</span>
            <div class="card-description subtle"> el stock es de: {{ producto.stock_products}}</div>
            <div class="card-read">Cerrar</div>
        </div>
        <img src="../img/imgProductos/{{producto.foto}}.jpg" alt="Productos Comics" width="100" class="card-media" />
        </div>
    <div class="card-shadow"></div>
</div>